<div class="btn-group d-flex m-4 flex-wrap" role="group" aria-label="Basic radio toggle button group">
  <label class="btn btn-outline-primary" [routerLink]="['/login']">Log in</label>
  <label class="btn btn-outline-primary" [routerLink]="['/signup']">Sign up</label>
  <label class="btn btn-outline-primary" [routerLink]="['/homepage']">Homepage</label>
  <label class="btn btn-outline-primary" [routerLink]="['/dashboard']">Dashboard</label>
  <label class="btn btn-outline-primary" [routerLink]="['/products']">Products</label>
  <label class="btn btn-outline-primary" [routerLink]="['/profile']">Profile</label>
  <label class="btn btn-outline-primary" [routerLink]="['/about']">About</label>
  <label class="btn btn-outline-primary" [routerLink]="['/contact']">Contact</label>
  <label class="btn btn-outline-primary" [routerLink]="['/settings']">Settings</label>
  <button class="btn btn-warning" (click)="deleteAllData()">DELETE ALL CACHED DATA</button>
</div>
<div class="m-4 border border-dark p-4 rounded text-break">
  <router-outlet></router-outlet>
</div>
<div *ngIf="cacheService.loaderVisible" class="loader-outer">
  <div class="spinner-border loader" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>